 header, footer {
    width: 100%;
    padding: 10px;
    background: #c52f24;
    color: #fff;
    margin: 0px;
}

table {
    border-collapse: collapse;
}

 table th {
    background-color: #ffdfdf;
    padding: 10px 20px;
}

table td {
    background-color: #f1c8c861;
    padding: 10px 20px;
}

.notice {
    background-color: #ccf;
    padding: 5px;
}
